@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}


.header{
    position: fixed;
    background: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 10%;
    z-index: 100;
    top: 0;
    right: 0;
}

.title{
    color:#4CAF50 ;
    cursor: pointer;
}
.title span{
    color: black;
}

.list-inicio{
    display: flex;
    gap: 20px;
    align-items: center;
}

.list-inicio li a{
    color: black;
    font-weight: 500;
}
.list-inicio li a:hover{
    color: white;
    background: #4CAF50;
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.3s;
}

.icon{
    background: #4CAF50;
    font-size:20px;
    width: 30px;
    text-align: center;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}
.button{
    display: none;
}
@media(max-width:700px){
.header{
    display: flex;
    justify-content: space-around;
    padding: 10px;

}
.icon{
    display: none;
}
.list-inicio{
        display: none;
    
    }
 .button{
  display: flex;
  background: #222;
  border: none;
  padding: .5rem 1rem ;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  color: white;
  cursor: pointer;
  margin: 10px;
  align-items: center;
  position: relative;
  z-index: 600;
}
.button::before{ 
  margin-right: 5px;
  content: '';
  display: inline-block;
  height: 2px;
  width: 12px;
  background: white;
  box-shadow: 0 4px white, 0 -4px white;
}
.list-inicio.active{
    display: block;

}
.list-inicio.active li{
    margin: 10px;
}
}


.home{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 18px 10%;
    gap: 2rem;
    margin-top: 20vh;
}


.home h1{
    font-size: 3rem;
}

.home h3{
    font-size:2rem ;
    color: #4CAF50;
    margin-bottom: 10px;
}

.button-home{
    margin-top: 10px;
    padding: 10px;
    border: none;
    color: white;
    background: #4CAF50;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;

} 
.button-home:hover{
    background: #3b8d3e;
    transition: 0.3s;
} 
.home-img img{
    width:90%
}
.container-text{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 30px;
    align-items: center;
    text-align: center;
    padding: 18px 10%;
}

.card-foods{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

}
.card-foods p{
    max-width: 600px;
}
.card-foods button{
    padding: 10px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 30px;
    
}

.card-foods button:hover{
    background: #3b8d3e;
    transition: 0.3s;
}

.card-foods p{
    color: rgba(0, 0, 0, 0.774);
}
.card-foods h3, p , button{
    margin: 8px;
}

.imgs-card{
    width: 400px;
}


.container-chefs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 15vh;
    justify-content: center;
    padding: 18px 10%;
}

.img-chefs img{
    width: 100%;
    object-fit: contain;
    height: 50%;
    border-radius: 50%;
}
.text-chefs{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
    
}

.text-chefs h1{
    font-size: 7rem;
    margin: 15px;
}
.text-chefs span{
    color: #4CAF50;

}

