.container-chefs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 15vh;
  justify-content: center;
  padding: 18px 10%;
}

.img-chefs img {
  width: 100%;
  object-fit: contain;
  height: 600px;
  border-radius: 50%;
}
.text-chefs {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: black;
}

.text-chefs h1 {
  font-size: 7rem;
  margin: 15px;
}
.text-chefs span {
  color: #4caf50;
}
@media (max-width: 700px) {
  .container-chefs {
    grid-template-columns: 1fr;
    margin-top: 5vh;
    padding: 20px;
  }
  .img-chefs img {
    display: none;
  }
  .text-chefs h1 {
    font-size: 5rem;
    margin: 15px;
  }
}
