.container-contato{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    padding: 18px 10%;
    margin-top: 10vh;
}


.text-contact h1{
    margin-top: 100px;
    font-size: 6rem;
}

.text-contact span{
    color:#4caf50 ;
}

.text-contact button{
    color:white;
    background-color: #4caf50;
    border: none;
    padding: 15px;
    font-size: 20px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}
.text-contact button:hover{
    background-color: #275a29;
    transition: .3s;
}
.btn-ctn{
    text-align: center;
}
.text-contact  i{
    font-size: 20px;
    margin-right: 10px;
}
.img-apre img{
    width: 500px;
    border-radius:50% 25%;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.144);
}


@media(max-width:500px){
    .container-contato{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 5vh;
    }
    .text-contact h1{
    margin-top: 30px;
    font-size: 3rem;
}


    .img-apre img{
        width: 400px;
    }
}

@media(max-width:380px){
    .container-contato{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        margin-top: 5vh;
    }
    .text-contact h1{
    margin-top: 30px;
    font-size: 2.5rem;
    width: 100%;
}


    .img-apre img{
        width: 250px;
        display: block;
    }
}