.container-clientes{
    padding: 18px 10%;
    text-align: center;
    margin-top: 20vh;
}
.container-clientes span{
    color: #4caf50;
}

.box-clients{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.card-clients {
    border: 1px solid rgba(0, 0, 0, 0.37);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px #4caf4fbd;
}
.card-clients img{
    object-fit: contain;
    height: 100px;
    border-radius: 100%;
}


.card-clients span{
    color: #4caf50;
}

@media(max-width:500px){
    .container-clientes{
        padding: 20px;
    }
    .box-clients{
        grid-template-columns: 1fr;
    }
    .card-clients{
        padding: 10px;
    }
}

@media(max-width:360px){
    .container-clientes{
        margin-top: 5vh;
        padding: 10px;
    }
    .box-clients{
        grid-template-columns: 1fr;
        
    }
    .card-clients{
        padding: 10px;
    }
}