footer{
    background-color: black ;
    color: white;
    text-align: center;
    padding: 10px ;
    margin-top: 10vh;
}
 footer .title > span{
    color: white;
}

@media(max-width:500px){
    footer{
        font-size: 10px;
        padding: auto;
    }
}

