footer{
    background-color: black ;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 18px 10%;
    margin-top: 10vh;
    
}
footer .title span{
    color: white;
}

footer .contato  p:hover {
    color: #4caf50;
}
footer .local  p:hover {
    color: #4caf50;
}
.copy{
    color: white;
    display: inline-block;
    background-color: black;
    width: 100%;
    text-align: center;
}

@media(max-width:560px){
    .contato{
        font-size: 10px;
        margin: 10px;
    }
    .local{
        font-size: 10px;
        margin: 10px;
    }
}