.home {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 18px 10%;
  gap: 2rem;
  margin-top: 20vh;
}

.home h1 {
  font-size: 3rem;
}

.home h3 {
  font-size: 2rem;
  color: #4caf50;
  margin-bottom: 10px;
}

.button-home {
  margin-top: 10px;
  padding: 10px;
  border: none;
  color: white;
  background: #4caf50;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
}
.button-home:hover {
  background: #3b8d3e;
  transition: 0.3s;
}
.home-img img {
  width: 90%;
}

@media (max-width: 700px) {

  .home {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .home-img img {
    display: none;
  }
}

@media (max-width: 500px) {
.icon{
        display: none;
    }
  .home {
    display: flex;
    text-align: center;
    gap: 0;
    
  }
  .home-img img {
    display: none;
  }

  .container-text{
    text-align: center;
    padding: 10px;
  }
  .cards-foods{
    display: flex;
    align-self: flex-start;
    padding: 0;
    margin: 0;
  }
  .card-foods img{
    margin: 0;
    width: 200px;

  }
  .img-cards img{
    width: 50px;
    height: 50px;
    margin: 0;
  }
}
