@media (max-width: 700px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 8 5%;
    gap: 50px;
    
  }

  .list-inicio {
    display: none;
  }
  .button {
    display: flex;
    background: #222;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin: 10px;
    align-items: center;
    position: relative;
    z-index: 600;
  }
  .button::before {
    margin-right: 5px;
    content: "";
    display: inline-block;
    height: 2px;
    width: 12px;
    background: white;
    box-shadow: 0 4px white, 0 -4px white;
  }
  .list-inicio.active {
    display: block;
  }
  .list-inicio.active li {
    margin: 10px;
  }
}

@media (max-width: 700px) {

  .home {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .home-img img {
    display: none;
  }
}

@media (max-width: 500px) {
.icon{
        display: none;
    }
  .home {
    display: flex;
    text-align: center;
    gap: 0;
    
  }
  .home-img img {
    display: none;
  }

  .container-text{
    text-align: center;
    padding: 0;
  }
  .cards-foods{
    display: flex;
    align-self: flex-start;
    padding: 0;
    margin: 0;
  }
  .card-foods img{
    margin: 0;
    width: 200px;

  }
  .img-cards img{
    width: 50px;
    height: 50px;
    margin: 0;
  }
}

@media (max-width: 700px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 700px) {
  .container-chefs {
    grid-template-columns: 1fr;
    margin-top: 5vh;
  }
  .img-chefs img {
    display: none;
  }
  .text-chefs h1 {
    font-size: 5rem;
    margin: 15px;
  }
}
